<h2>Calendar</h2>
<table class="table">
  <thead class="thead-light">
    <th scope="col">Name</th>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
  </thead>
  <tbody>
    {{#each events}}
      <tr class="{{#unless this.isRead}}table-primary{{/unless}}">
        <td>{{this.name}}</td>
        <td>{{this.date}}</td>
        <td>{{this.time}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<button>Export</button>
